body{
    background-color: black;
    color :white;
    

}

.header{
    height: auto;
    width: auto;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5% 2% 5%;

}

a:visited{
    color:white;
  }

.initials{
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 5rem;
}
.extreme{
    font-size: 32px;
    font-weight: 500;
    display: flex;
    gap: 2rem;
}

.extreme img{
    height: 3rem;
    width: 3rem;
}

.landing{
    height: 80vh;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 2rem 8rem 2rem 8rem;
    font-size: 6rem;
    font-weight: 800;
    align-items: center;
    justify-items: center; 

}