@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

@keyframes achange{
    0%   {color:red; }
    25%  {color:yellow; }
    50%  {color:blue; }
    75%  {color:green; }
    100% {color:red;}
  }

body{
    background-color: black;
    color :white;
    font-family:  'Raleway',sans-serif;

}

.header{
    height: auto;
    width: auto;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 12% 2% 2%;

}

a:visited{
    color:white;
  }

.initials{
    font-size: 2.9rem;
    font-weight: 700;
    padding-left: 5rem;
}
.extreme{
    font-size: 32px;
    font-weight: 500;
    display: flex;
    gap: 2rem;
}

.extreme img{
    height: 3rem;
    width: 3rem;
}

.landing{
    height: 80vh;
    width: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    margin: 2rem 7rem 2rem 7rem;
    font-size: 6rem;
    font-weight: bolder;
    align-items: center;
    justify-items: center; 

}
.aboutme{
    display: flex;
    flex-direction: column;
}
.intro{
    font-size: 1.5rem;
    padding-top: 3rem;
}
.animate{
animation-name: achange;
animation-duration: 4s;
animation-iteration-count: infinite;
}
.landing img{
    height: 25rem;
}

