body{
    background-color: black;
    color :white;

}

.header{
    height: auto;
    width: 100%;
    background-color: aqua;
    border-radius: 5%;
    display: flex;
    flex-direction: row;

}

.initials{
    font-size: 3rem;
    font-weight: 400;
}
.extreme{
    font-size: 2rem;
    font-weight: 500;
}